/*
Copyright (c) 2016 Himanshu Softtech
------------------------------------------------------------------
[Master Content Section Stylesheet]
-------------------------------------------------------------------*/
#content_wrapper{
	width:100%;
	float:left;
	}	

.page_title{
	width:100%;
	float:left;
	text-align: center;
	position:relative;
	background-attachment:fixed;
	}
.page_title:after{
	content:"";
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(0,0,0,0.6);
	z-index:1;
	}	
.page_title ul{
	list-style:none;
	padding:0;
	margin:80px auto;
	display:inline-block;
	position:relative;
	z-index:2;
	}
.page_title ul:after{
	content: "\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	width:100px;
	height:3px;
	color:#e39a1b;
	position:absolute;
	left:0;
	right:0;
	top: 31px;
	margin:0 auto;
	letter-spacing: -1px;
	}
.page_title ul:before{
	content: "\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	width:100px;
	height:3px;
	color:#86b817;
	position:absolute;
	top: 35px;
	left:0;
	right:0;
	margin:0 auto;
	letter-spacing: -1px;
	}	
			
.page_title ul li{
	display:inline-block;
	margin: 0 10px;
	font-size:22px;
	text-transform:uppercase;
	font-family: 'Lato', sans-serif;
	color:#fff;
	text-decoration:none;
	position:relative;
	}
.page_title ul li:after{
	content: "/";
	margin-left: 7px;
	position: absolute;
	left: 100%;
	}	
.page_title ul li:last-child:after{
	content:"";
	}		
.page_title ul li a{
	font-size:22px;
	text-transform:uppercase;
	font-family: 'Lato', sans-serif;
	color:#fff;
	text-decoration:none;
	}	