/*
Copyright (c) 2016 Himanshu Softtech
------------------------------------------------------------------
[Master Footer Stylesheet]
-------------------------------------------------------------------*/
#footer_wrapper{
	width:100%;
	float:left;
	background-color:#f4f4f4;
	min-height:500px;
	clear:both;
	position:relative;
	padding:75px 0 0 0;
	overflow:hidden;
	}
	
#footer_wrapper:before {
	content: "\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107\f107";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	width: 100%;
	height: 15px;
	overflow:hidden;
	color: #000;
	position: absolute;
	top: -5px;
	left: 0;
	letter-spacing: -1px;
}
#footer_wrapper .widget{
	margin-bottom:50px;
	width:100%;
	float:left;
	}
#footer_wrapper .dropdown-menu{
	border-radius:0;
	-webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, .12);
	box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.12);
	}
#footer_wrapper .dropdown-menu.inner{
	box-shadow:none;
	}

.copyright{
	width:100%;
	float:left;
	min-height:83px;
	line-height:88px;
	background-color:#222222;
	border-bottom:1px solid #313131;
	color:#fff;
	}
.copyright a{
	color:#fff;
	margin-left:17px;
	}			


/* Large desktop */
@media (max-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
.copyright{
	line-height:40px;
	padding:30px 0;
	}
.copyright *{
	text-align:center !important;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
.copyright span{
	width:100%;
	float:left;
	}
.widget.widget_search_availability .wsa_tab_content .travel_form_element{
	width:100%;
	}	
}			

/*--------widget_tabs------*/
@media (max-width:480px){
	.widget.widget_search_availability .wsa_tab ul li a {
		width: 45px !important;
		height: 45px !important;
		padding: 5px !important;
		line-height: 53px !important;
	}

	.widget.widget_search_availability .wsa_tab ul li a svg {
		width: 18px !important;
		height: 25px !important;

	}
}
/*--------widget_tabs------*/