/*
Copyright (c) 2016 Himanshu Softtech
------------------------------------------------------------------
[Master Header Stylesheet]
-------------------------------------------------------------------*/
::selection {
    background: #fdb714;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {   /* firefox */
    background: #fdb714;
    color: #fff;
}
#header_wrapper {
	width: 100%;
	float: left;
	z-index: 999;
}
.header_top {
	width: 100%;
	float: left;
	min-height: 45px;
	background-color: #4c4845;
	line-height: 45px;
}
.header_top p {
	margin-bottom: 0px;
	color: #1f1e1c;
}
.header_top p > i {
	margin-right: 10px;
}
.header_top p span {
	font-size: 18px;
}
/**** Top Menu start ****/
.top_menu {
	width: 100%;
	float: left;
	margin: 0 auto;
}
.top_menu ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: right;
}
.top_menu > ul > li {
	display: inline-block;
	position: relative;
}
.top_menu ul li a {
	color: #fff;
	text-transform: capitalize;
	display: block;
	padding: 0 17px;
	text-decoration: none;
}
.top_menu ul li.travel_dropdown > a:after{
	margin:0 8px;
	content: "\f0d7";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
.top_menu ul li:last-child a {
	padding-right: 0;
}
.top_menu ul li:first-child a {
	padding-left: 0;
}
.top_menu > ul > li ul.sub-menu {
	position: absolute;
	min-width: 195px;
	background-color: #222222;
	padding: 23px;
	display: none;
	z-index: 999;
	top: 101%;
}
.top_menu > ul > li:last-child ul.sub-menu {
	right: 0;
}
@-webkit-keyframes travel_fadeInUp {
 0% {
 opacity: 0;
 -webkit-transform: translate3d(0, 50px, 0);
 transform: translate3d(0, 50px, 0);
}
 100% {
 opacity: 1;
 -webkit-transform: none;
 transform: none;
}
}
 @keyframes travel_fadeInUp {
 0% {
 opacity: 0;
 -webkit-transform: translate3d(0, 50px, 0) scale(1.1);
 transform: translate3d(0, 50px, 0) scale(1.1);
}
 100% {
 opacity: 1;
 -webkit-transform: none;
 transform: none;
}
}
.travel_fadeInUp {
	-webkit-animation-name: travel_fadeInUp;
	animation-name: travel_fadeInUp;
}
.top_menu > ul > li:hover ul.sub-menu {
	display: block;
	-webkit-animation: travel_fadeInUp 0.2s;
	-moz-animation: travel_fadeInUp 0.2s;
	-ms-animation: travel_fadeInUp 0.2s;
	-o-animation: travel_fadeInUp 0.2s;
	animation: travel_fadeInUp 0.2s;
}
.top_menu ul.sub-menu li {
	display: block;
	line-height: 28px;
	border-bottom: 1px dashed #555555;
	-webkit-animation: fadeInUp 0.4s;
	-moz-animation: fadeInUp 0.4s;
	-ms-animation: fadeInUp 0.4s;
	-o-animation: fadeInUp 0.4s;
	animation: fadeInUp 0.4s;
}
.top_menu ul.sub-menu li a {
	display: block;
	padding: 10px 0;
	text-transform: uppercase;
	color: #fff;
	text-align: left;
}
.top_menu ul.sub-menu li:last-child {
	border: none;
}
.top_menu ul.sub-menu li a:hover {
	color: #86b817;
}
/**** Top Menu end ****/
	


.header_bottom {
	width: 100%;
	float: left;
	background-color: #1f1e1c;
}
.travel_logo a {
	display: block;
	line-height: 95px;
}
.main_menu {
	width: 100%;
	float: left;
	margin: 0 auto;
}
.main_menu ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: right;
}
.main_menu > ul > li {
	display: inline-block;
	position: relative;
}
.main_menu > ul > li > a {
	color: #2d3e50;
	text-transform: uppercase;
	display: block;
	padding: 0 17px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 110px;
	position: relative;
}

.main_menu > ul > li > a:after {
	content: "";
	height: 3px;
	background-color: transparent;
	position: absolute;
	bottom: 0;
	left: 50%;
	right: 50%;
	width: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.main_menu > ul > li > a:hover:after {
	left: 0%;
	right: 0%;
	height: 7%;
	background-color: #e39a1b;
	-webkit-animation: fadeInDown 0.3s;
	width: 100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.main_menu > ul > li:last-child > a {
	
}
.main_menu > ul > li > ul.sub-menu {
	position: absolute;
	min-width: 195px;
	background-color: #222222;
	padding: 23px;
	text-align: left;
	display: none;
	z-index: 999;
	top: 100%;
	white-space:nowrap;
}
.main_menu > ul > li:last-child ul.sub-menu {
	right: 0;
}
@-webkit-keyframes travel_fadeInUp {
 0% {
 opacity: 0;
 -webkit-transform: translate3d(0, 10px, 0) scale(1.1);
 transform: translate3d(0, 10px, 0) scale(1.1);
}
 100% {
 opacity: 1;
 -webkit-transform: none;
 transform: none;
}
}
 @keyframes travel_fadeInUp {
 0% {
 opacity: 0;
 -webkit-transform: translate3d(0, 10px, 0) scale(1.1);
 transform: translate3d(0, 10px, 0) scale(1.1);
}
 100% {
 opacity: 1;
 -webkit-transform: none;
 transform: none;
}
}
.travel_fadeInUp {
	-webkit-animation-name: travel_fadeInUp;
	animation-name: travel_fadeInUp;
}
.main_menu > ul > li:hover ul.sub-menu {
	display: block;
	-webkit-animation: travel_fadeInUp 0.2s;
	-moz-animation: travel_fadeInUp 0.2s;
	-ms-animation: travel_fadeInUp 0.2s;
	-o-animation: travel_fadeInUp 0.2s;
	animation: travel_fadeInUp 0.2s;
}
.main_menu ul.sub-menu li {
	display: block;
	line-height: 28px;
	border-bottom: 1px dashed #555555;
	-webkit-animation: travel_fadeInUp 0.4s;
	-moz-animation: travel_fadeInUp 0.4s;
	-ms-animation: travel_fadeInUp 0.4s;
	-o-animation: travel_fadeInUp 0.4s;
	animation: travel_fadeInUp 0.4s;
}
.main_menu ul.sub-menu li a {
	display: block;
	padding: 10px 0;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
.main_menu ul.sub-menu li:last-child {
	border: none;
}
.main_menu ul.sub-menu li a:hover {
	color: #86b817;
}
.main_menu > ul > li > ul.sub-menu > li {
	position: relative;
}
.main_menu > ul > li > ul.sub-menu > li > ul.sub-menu {
	position: absolute;
	min-width: 195px;
	background-color: #222222;
	padding: 23px;
	text-align: left;
	display: none;
	z-index: 999;
	left: 100%;
	top: -23px;
}
.main_menu > ul > li:last-child > ul.sub-menu > li > ul.sub-menu {
	right: 100%;
	left: auto;
}
@-webkit-keyframes travel_fadeInRight {
 0% {
 opacity: 0;
 -webkit-transform: translate3d(15px, 0, 0) scale(1.05);
 transform: translate3d(15px, 0, 0) scale(1.05);
}
 100% {
 opacity: 1;
 -webkit-transform: none;
 transform: none;
}
}
 @keyframes travel_fadeInRight {
 0% {
 opacity: 0;
 -webkit-transform: translate3d(15px, 0, 0) scale(1.05);
 transform: translate3d(15px, 0, 0) scale(1.05);
}
 100% {
 opacity: 1;
 -webkit-transform: none;
 transform: none;
}
}
.fadeInRight {
	-webkit-animation-name: travel_fadeInRight;
	animation-name: travel_fadeInRight;
}
.main_menu > ul > li > ul.sub-menu > li > ul.sub-menu li {
	-webkit-animation: travel_fadeInRight 0.4s;
	-moz-animation: travel_fadeInRight 0.4s;
	-ms-animation: travel_fadeInRight 0.4s;
	-o-animation: travel_fadeInRight 0.4s;
	animation: travel_fadeInRight 0.4s;
}
.main_menu > ul > li > ul.sub-menu > li:hover > ul.sub-menu {
	display: block;
	-webkit-animation: travel_fadeInRight 0.2s;
	-moz-animation: travel_fadeInRight 0.2s;
	-ms-animation: travel_fadeInRight 0.2s;
	-o-animation: travel_fadeInRight 0.2s;
	animation: travel_fadeInRight 0.2s;
}
.main_menu > ul > li.active > a:after {
	background-color: #e39a1b;
	width: 100%;
	left: 0;
	right: 0;
	height: 7%;
}
.main_menu ul li < ul {
 background-color:red;
}
.main_menu ul li.travel_dropdown:after {
	position: absolute;
	top: 60%;
	left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
	color: #86b817;
	content: "\f107";
	display: inline-block;
	font: normal normal normal 16px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}
.main_menu ul li ul li.travel_dropdown:after {
	position: absolute;
	top: 15px;
	right: 0;
	left: auto;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	content: "\f0da";
	display: inline-block;
	font: normal normal normal 16px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}
.main_menu ul li ul li:hover.travel_dropdown:after {
	color: #86b817;
}
.menu-toggle {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	padding: 5px;
	background-color: #222;
	transition: all 0.15s;
	display: none;
}
.menu-toggle:hover, .menu-toggle:focus {
	background-color: #222;
}
.menu-toggle:active {
	transform: scale(0.8);
}
.menu-toggle:before, .menu-toggle:after {
	position: absolute;
	display: block;
	content: "";
	width: 28px;
	height: 4px;
	background-color: #a3b6bb;
	border-radius: 2px;
}
.menu-toggle:before {
	top: 17px;
	-webkit-transition: all 0.35s ease-out;
	-moz-transition: all 0.35s ease-out;
	-ms-transition: all 0.35s ease-out;
	-o-transition: all 0.35s ease-out;
	transition: all 0.35s ease-out;
}
.menu-toggle:after {
	top: 9px;
	box-shadow: 0 16px #aaa;
	-webkit-transition: all 0.45s ease-out;
	-moz-transition: all 0.45s ease-out;
	-ms-transition: all 0.45s ease-out;
	-o-transition: all 0.45s ease-out;
	transition: all 0.45s ease-out;
}
.menu-toggle--open {
	background-color: #222;
}
.menu-toggle--open:hover, .menu-toggle--open:focus {
	background-color: #222;
}
.menu-toggle--open:before, .menu-toggle--open:after {
	top: 50%;
	margin-top: -2px;
	background-color: #fff;
}
.menu-toggle--open:before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu-toggle--open:after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-shadow: none;
}
	
	
/**** Menu end ****/	



/* Large desktop */
@media (max-width: 1200px) {
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
.top_menu ul li a{
	padding: 0 5px;
	}
.top_menu ul li.travel_dropdown > a:after{
    margin: 0 5px;
	}	
.main_menu > ul > li > a {
    padding: 0 8px;
    font-size: 12px;
}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
.travel_logo {
	text-align: center;
	margin: 0 auto;
}
.header_top{
	line-height: 30px;
	text-align: center;
	padding: 10px 0;
	}
.top_menu ul{
	text-align:center;
	}	
.top_menu ul li a{
	padding: 0 8px;
	}
.menu-toggle{
	display: block;
	position:fixed;
	left:0px;
	top:20px;
	z-index:9999;
	transition:ease-in-out 0.2s;
}
.menu-toggle.menu-toggle--open{
	left:300px;
	}
.main_menu{
	position:fixed;
	max-width:300px;
	left:-300px;
	top:0;
	bottom:0;
	background-color:#222;
	z-index:9999;
	overflow-x: hidden;
	overflow-y: scroll;
	transition:ease-in-out 0.2s;
	}
.main_menu.open{
	left:0;
	}	
.main_menu::-webkit-scrollbar {
	width: 3px;
	height: 1px;
	}
.main_menu::-webkit-scrollbar-track-piece {
	background-color: #ccc;
	}
.main_menu::-webkit-scrollbar-thumb {
	background-color: #fdb714;
	}

.main_menu ul{
	width:100%;
	float:left;
	text-align:left;
	position:relative;
	}
.main_menu ul li{
	width:100%;
	float:left;
	}
.main_menu ul li a{
	width:100%;
	float:left;
	color:#9E9C9C;
	}
.main_menu > ul > li > a{
	line-height: 50px;
	}
.main_menu > ul > li:focus > a,
.main_menu > ul > li:hover > a{
	background-color:rgba(255,255,255,0.1);
	color:#fff;
	}	
.main_menu > ul > li > a:after{
	display:none;
	}	
.main_menu > ul > li > ul.sub-menu{
	position:relative;
	left:auto;
	right:auto;
	display:none;
	animation:none !important;
	padding: 0;
	padding-left: 40px;
	}
.main_menu > ul > li > ul.sub-menu li{
	animation:none !important;
	}	
.main_menu > ul > li:hover > ul.sub-menu{
	display:none;
	}	
.main_menu > ul > li > ul.sub-menu > li > ul.sub-menu{
	position:relative;
	left:auto;
	right:auto;
	top:auto;
	display:none;
	animation:none !important;
	padding-top:0;
	}
.main_menu > ul > li > ul.sub-menu > li > ul.sub-menu li{
	animation:none !important;
	}	
.main_menu > ul > li > ul.sub-menu > li:hover > ul.sub-menu{
	display:none;
	}	
.main_menu ul li.travel_dropdown:after{
	display:none;
	}	
.main_menu ul li ul li.travel_dropdown:after{
	display:none;
	}	

.fixed_top_menu{
	position:relative;
	-webkit-transform:none;
	-moz-transform:none;
	-ms-transform:none;
	transform:none;
	animation:none;
	
	}
.fixed_top_menu .main_menu > ul > li > a{
	line-height:50px;
	}	
				
.dropdown_toggle{
	width:40px;
	height:50px;
	position:absolute;
	text-align: center;
	line-height:50px;
	right:0;
	top:0;
    cursor:pointer;
	}
.dropdown_toggle:before{
	pnt-smoothing: grayscale;
	transform: osition: absolute;
	margin: 0 auto;
	color: #86b817;
	content: "\f107";
	display: inline-block;
	font: normal normal normal 16px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-fotranslate(0, 0);
	}
.main_menu > ul > li:hover > .dropdown_toggle{
	background-color: rgba(255, 255, 255, 0.19);
	}
.main_menu > ul > li > ul > li:hover .dropdown_toggle{
	background-color: rgba(255, 255, 255, 0.19);
	}		
}
 
/* Landscape phones and down */
@media (max-width: 370px) {
.main_menu{
    max-width: 220px;
	}
.menu-toggle.menu-toggle--open{
	left:220px;
	}		
.main_menu ul li a{
	font-size:12px;
	line-height:40px;
	}	
.dropdown_toggle{
	height:40px;
    line-height: 40px;	
	}	
.main_menu ul.sub-menu li a{
	padding:0;
	text-transform: capitalize;
	color: #9E9C9C;
	}	
.main_menu > ul > li > ul.sub-menu{
    padding-left: 30px;	
	}	
}


/* login signup popup checkbox css start */

.popup_inner label {
    position: relative;
    padding-left: 33px;
	cursor: pointer;
}
.popup_inner input[type=checkbox] {
	display: none;
}
.popup_inner label:before {
    content: "";
    display: inline-block;
    width: 15PX;
    height: 15px;
    position: absolute;
    color: #d3d3d3;
    text-align: center;
    left: 0px;
    border: 1px solid #d3d3d3;
    top: 8px;
}

 .popup_inner input[type=checkbox]:checked + label:after{
    content: "\2713";
    font-size: 19px;
    color: #86b817;
    text-align: center;
    position: absolute;
    left: 3px;
    top: 1px;
}
.popup_inner input[type=checkbox]:checked + label:before{
	border-color:#86b817;
}
/* login signup popup checkbox css start */