/*
Copyright (c) 2016 Aeng A. Sanusi
------------------------------------------------------------------
[Master Stylesheet]

Project:	BAPONTAR ID
Version:	1.0.0
Assigned to:	Bapontar.id
-------------------------------------------------------------------*/
#logo-header{
	height:80px;
	width:80px;
}

#logo-footer{
	height:50px;
	width:50px;
}

.pagination{
	float: right;
}


.portfolio-row div.items{
	width: 100%;
	margin-bottom: 10px;
	display: block;
	
}
.portfolio-row div.pagination{
	width: 100%;
	display: block;
	position: absolute;
	bottom: -20px;
	margin-top: 20px;
}

#portfolio-item-container{
	margin-bottom: 30px;
}

.portfolio-row .summary{
	position: absolute;
	top: -35px;
	text-align: right;
	width: 100%;
	padding: 5px 10px;
}

.travelite_feature_section{
	padding-top: 50px;
	padding-bottom: 50px;
}

.twitter{
	padding: 0 5px;
}

#travelite_middle_tabs ol, #travelite_middle_tabs ul{
	padding-left: 10px;
}

#travelite_middle_tabs li{
	list-style: inherit !important;
}

.pcg_tabs_panel ul li a{
	color: #999999 !important;
	padding: 15px !important;
	font-weight: 200 !important;
}

.pcg_tabs_panel ul li.ui-tabs-active a{
	color: #282828 !important;	
}

#img-tour-top{
	height: 234px;
}

#img-tour-off{
	height: 200px;
}

#img-news{
	height: 150px;
}

#wsearch{
	min-height: 1000px;
}

.hover-link a:hover{
	color: #9CB817 !important;
}

#form_submit:disabled{
	border: medium none;
	font-family: Montserrat;
	height: 54px;
	text-transform: uppercase;
	width: 100%;
	opacity: 0.5;
}

.google-adds{
	margin: 15px;
}

.travelite_left_sidebar_second .widget {
	padding: 3px 5px;	
}

.tagcloud a{
	font-size: 16px !important;
}

.tagcloud a:hover{
	color: #86B817;
	
}