.login-page{
    /*background: rgba(0, 0, 0, 0) url("../images/bg-login.jpg") no-repeat scroll 0 0 / cover !important;*/
    background: rgba(140, 200, 200, 1) !important;
    overflow: hidden;
   
}
.login-logo a{
    color: #FFF;
    text-shadow: 1px 1px 1px #1e0303;
}

.login-box-body{
    background: rgba(255, 255, 255, 0.8) none repeat-x scroll 0 0;
     color: #333;
}

.search-form{
    margin: 10px;
}

.table .sort-link {
    color: #333;
}

.table .sort-link:hover {
    color: #555 !important;
}

.tab-content > .active, .pill-content > .active {
    display: table;
}

.thumbnail{
    float: left;
    height: 460px;
}
.thumbnail img{
    padding: 10px;
    width: 100%;
}

.no-table{
    margin: 3px;
}

#addOrder .modal-dialog{
    width: 80%;
}

#menu-modal{
    margin-bottom: 0;
}

.box-menu{
    border: 1px solid #DDD;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #FEFEFE;
}

.box-menu .img-menu{
    height: 160px;
}

.caption{
    
}
.caption .title{
    font-size: 14px;
    color: #111;
    font-weight: bold;
    position: absolute;
    width: 80%;
    top:125px;
    height: 43px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 5px;
}
.caption .price{
    font-size: 14px;
    color: #111;
    font-weight: bold;
    position: absolute;
    left: 26px;
    top:15px;
    background-color: rgba(255, 255, 255, 0.8);
    padding:3px 5px;
}

span.diskon{
    color: #FF0000;
}
.caption .status{
    position: absolute;
    right: 28px;
    top:15px;
}

.btn-order{
    margin-top: 5px;
    text-align: center;
}

.ui-autocomplete {
    position: absolute;
    cursor: default;
    z-index:30 !important;
    max-height: 220px;
    overflow-y: scroll;
}

#produk-table th{
    width: 25%;
    text-align: right;
}
